
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container">
    <h2>SkyBrink Employee management is a web project developped by Asif Muhammad Yousuf. ASP.net MVC 5 with EnityFramework 6 was used to develop this project</h2>
    <p>Basic dashboard and CRUD operations are performed here in this project. For more details, please visit the Technical Details and GitHub page.</p>
    </div>
